################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CS6232_G2/obj/Debug
/CS6232_G2/bin
/.vs